.container-check {
  width: 10%;
}

.container-message {
  width: 90%;
  border-radius: 8px;
  border: solid 1px #cccccc;
  background-color: #fff;
  padding: 20px 40px;
  color: #999999;
}

.container-row {
  margin-top: 50px;
  align-items: center;
}
